body {
    overflow-x: hidden;
}

.header{
    min-height: 4vw;
    height: 30px;
    width: 100vw;
    background-color: #fff;
    text-align: left;
}
.header-text{
    font-size: 3.5em;
}

/* ============================================================================== */

.put-result{
    margin-top: 15px;
    min-height: 30vw;
    background-color: #fff;
    border-style:solid;
    border-width:1px;
    border-radius: 8px;
    font-size: 24px;

}

.put-result-operate-area{
    float: right;
}

.put-result-header{
    margin-top: 24px;
}

.put-result-title{
    float: left;
}

.put-result-head-text{
    margin-left: 6px;
    text-align: center;
    font-size: 1em;
}
/* ============================================================================== */


.operate-area{
    min-height: 8vw;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-style:solid;
    border-width:1px;
    border-radius: 8px;
    font-size: 24px;
}

/* ------------------ */

.left-btns{
    float: right;
}

/* ============================================================================== */

.footer{
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 9999;
}

/* 所有按钮样式 */
/* ============================================================================== */

button {
    background-color: #318cf4;  
    color: #fff;
    
    border-style: none;
    border-radius: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

button [disabled]{
    background-color: #595959;  
}

.input-div input{
    width: 80%;
    height: 42px;
}
.input-div button{
    width: 16%;
    height: 42px;
}

.input-div{
    margin-bottom: 8px;
    width: 88%;
}

.show-inputs{
    width: 100%;
}

img:not(.black-svg-img){
    filter: invert(100%)
}

/* 窗口样式 */
/* ============================================================================== */

.window-bg {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #00000042;
    justify-content: center;
    align-items: center;
}

.window-body{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: auto;
    height: 85%;
    width: 85%;
    text-align: center;
    overflow-y: scroll;
}
/* ------------------ */
.window-head{
    font-size: 30px;
}

.window-title{
    font-size: 30px;
    float: left;
}


.window-right-close-btn{
    float: right;
}
/* ------------------ */
.window-maincontent{
    margin-top: 30px;
    text-align: left;
}
/* ------------------ */
.window-footer{
    position: fixed;
    left: 0px;
    bottom: 40px;
    width: 100%;
}
